@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(356, 86%, 17%);
  --clr-primary-2: hsl(356, 77%, 27%);
  --clr-primary-3: hsl(356, 72%, 37%);
  --clr-primary-4: hsl(356, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(356, 65%, 35%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(356, 89%, 70%);
  --clr-primary-7: hsl(356, 90%, 76%);
  --clr-primary-8: hsl(356, 86%, 81%);
  --clr-primary-9: hsl(356, 90%, 88%);
  --clr-primary-10: hsl(356, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-7);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: block;
}

img:not(.nav-logo) {
  width: 100%;
}
.parent-nav {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  background-color: var(--clr-primary-10);
  gap: 2rem;
}

.nav-links a {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.nav-links a:hover {
  color: var(--clr-primary-5);
}
.nav-links {
  width: 90%;
  height: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 
=========================
The links under products
=========================
*/
.inner-parent {
  position: relative;
  transition: var(--transition);
}

.inner-parent:hover .inner-nav-links {
  display: block;
}
.inner-nav-links a {
  display: block;
  transition: var(--transition);
}
.inner-nav-links a:hover {
  color: var(--clr-white);
  background: var(--clr-grey-1);
  border-radius: var(--radius);
}

.inner-nav-links {
  display: none;
  top: 100%;
  left: 50%;
  width: 250px;
  background-color: hsla(0, 0%, 50%, 0.548);
  position: absolute;
  text-align: center;
  line-height: 2rem;
  border-radius: var(--radius);
}

.nav-links-container {
  display: grid;
  place-items: center;
}

.login-btn {
  display: grid;
  place-items: center;
}
